body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 80vh;
    background-image: url('https://source.unsplash.com/random/?landscape/');
    background-size: cover;
    align-content: center;
    font-family: 'Roboto', sans-serif;
}

.card {
    background-color: rgba(32,43,65,0.7);
    color:antiquewhite;
    padding: 2em;
    border-radius: 8px;
    width: 100%;
    max-width: 420px;
    height: 100%;
    max-height: 420px;
    margin: 1em;

}

.citysearch {
display: flex;
align-items: center;
justify-content: center;
}

.searchbar {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-style: none;
    border: none;
    outline: none;
    width: calc(100% - 100px);
    height: 20px;
    background-color: rgba(139, 134, 158,0.4);
    color:aliceblue;
    font-size: 14px;
}

.searchbar:focus, .searchbar:hover .searchbar:active{
    border: 2px solid #545259;
  }

::placeholder {
    color:aliceblue;
}

button {
    padding: 9px;
    margin: 2px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background: rgba(139, 134, 158);
}

button:hover {
    background: rgba(139, 134, 158,0.4);
}

.description, .humidity {
    padding: 5px;
    margin: 2px;
    text-transform: capitalize;
}

.icon {
    display: flex;
}