* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 80vh;
    background-color: coral;
    align-content: center;
}

.card {
    background-color: #c9f2a2;
    padding: 2em;
    border-radius: 8px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}